@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";
@import 'primeicons/primeicons.css';


@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf");
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.25rem;
  color: #FCF5ED;
}

h1 {
  color: #F4BF96;
  font-weight: bold;
  font-size: 2rem;
}

h2 {
  color: #F4BF96;
  font-weight: bold;
  font-size: 1.75rem;
}

h3 {
  color: #F4BF96;
  font-weight: bold;
  font-size: 1.5rem;
}

a {
  color: #0370DD;
  text-decoration: underline;
}

a:hover {
  color: #8D5A97;
  transition: 0.1s linear;
}

:root {
  --p-primary-background-color: rgba(5,10,5,0.7) !important;
  --p-primary-color: #FCF5ED !important;
  --p-primary-contrast-color: #1F1717 !important;
  --p-primary-hover-color: #F6E2CB !important;
  --p-primary-active-color: #F4BF96 !important;
}

